<!DOCTYPE html>

<html>
<head>
    <link href="/css/styles.css" rel="stylesheet" />
    <title>index.html</title>
</head>

<body>
    {{>header}}
    {{>footer}}
    <img src="/img/robot.png" alt="Robot" />
</body>
</html>