h1 {
    color: grey;
}

img {
    width: 250px;
}

nav {
    border: solid black 1px;
}

nav ul {
    border
}

nav ul li{
    display: inline;
    padding: 10px;
    
}

    nav ul li a {
        font: bold 20px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        border-radius: 8px;
    }